@import './shared/fonts';
@import './shared/colors';


//Pages
@import './index.scss';
@import './portfolio';
@import './about';
@import './cv';

//Components
@import './header.scss';

  // Styling for the footer
  footer {
    padding: 50px 0 65px;
    .list-inline {
      margin: 0;
      padding: 0;
    }
    .copyright {
      font-size: 14px;
      margin-bottom: 0;
      text-align: center;
      color: white;
    }
  }


html, body {
    font-family: 'Montserrat', 'Helvetica' !important;
    overscroll-behavior-y: none;

}

.cover {
    background-image: linear-gradient(45deg,#00aeef 0%,#096fb9 100%);
    position: relative;
  }

  .background-image {
    position: absolute;
    width: 70%;
    height: 80%;
  }

.self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.absolute {
    position: absolute;
}

.base-page {
    padding: 150px 0;
    color: black;
    background-color: #ecedee;
    min-height: 80vh;
  
    .page-header {
      .page-header-title {
        font-weight: 700;
        color: white;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }
  

.clickable {
    cursor: pointer;
}

.error {
    font-weight: 500;
    color: red;
}
